.postContainer {
  display: flex;  
  flex-direction: row;
  /* justify-content: center;  */
  align-items: stretch;
  min-height: 100px;
  position: relative;
  width: 600px;

  border-top: 1px solid pink;
  border-bottom: 1px solid pink;
  padding: 10px;
  box-sizing: border-box;

  font-family: monospace;
}

.postContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profilePicturePosition {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  /* height: 500px; */
  padding-right: 10px;
}

.postInfo {
  padding-top: 10px;
}

.postInfo > span:nth-child(-n + 1) {
  font-weight: bold;
}

.postInfo > span:last-child {
  padding-left: 10px;
}

.content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contentFooter {
  display: flex;
  flex-direction: row;
}

.contentFooter > * {
  height: 13px;
  width: 13px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.buttonPosition {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
}
.editButton{
  color: pink;
  margin-right: 5px;
}

.editButton:hover{
  color: red;
  cursor: pointer;
}

.deleteButton {
  color: pink;
  margin-right: 5px;
}

.deleteButton:hover{
  color: red;
  cursor: pointer;
}