.button {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #FFF;
  border-radius: 30px;
  background: pink;
  border: 1px solid pink;
  
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  gap: 10px;
  cursor: pointer;
}

.small{
  width: 80px;
  min-width: 80px;
  max-width: 80px;
  height: 30px;
}

.medium{
  width: 90px;
  min-width: 90px;
  max-width: 90px;
  height: 40px;
}

.large{
  width: 230px;
  min-width: 230px;
  max-width: 230px;
  height: 45px;
}

.empty{
  background: none;
  color: pink;
}
