.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.header {
  display: flex;
  /* align-items: flex-start; */
  justify-content: flex-start;
  padding-bottom: 20px;
}

.main {
  border-left: 1px solid pink;
  border-right: 1px solid pink;

  width: 600px;
}

.selectedPageName {
  font-size: 25px;
  padding-bottom: 20px;
  color: pink;
}
